html,
body,
#app {
	height: 100%;
}
.mt-10 {
	margin-top: -10px;
}

.mb-10 {
	margin-bottom: -10px;
}

.mt3 {
	margin-top: 3px;
}

.mt4 {
	margin-top: 4px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt18 {
	margin-top: 18px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt26 {
	margin-top: 26px;
}

.mt30 {
	margin-top: 30px;
}

.mt32 {
	margin-top: 32px;
}

.mt35 {
	margin-top: 30px;
}

.mt40 {
	margin-top: 40px;
}

.mt45 {
	margin-top: 45px;
}

.mt50 {
	margin-top: 50px;
}

.mt60 {
	margin-top: 60px;
}

.mt68 {
	margin-top: 68px;
}

.mt70 {
	margin-top: 70px;
}

.mt80 {
	margin-top: 80px;
}

.mt90 {
	margin-top: 90px;
}

.mt100 {
	margin-top: 100px;
}

.mt120 {
	margin-top: 120px;
}

.mt140 {
	margin-top: 140px;
}

.mt160 {
	margin-top: 160px;
}

.mt180 {
	margin-top: 180px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb18 {
	margin-bottom: 18px;
}

.mb19 {
	margin-bottom: 19px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.mlpct5 {
	margin-left: 5%;
}

.mlpct10 {
	margin-left: 10%;
}

.mlpct15 {
	margin-left: 15%;
}

.mlpct20 {
	margin-left: 20%;
}

.ml0 {
	margin-left: 0px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.ml30 {
	margin-left: 30px;
}

.ml40 {
	margin-left: 40px;
}

.ml50 {
	margin-left: 50px;
}

.ml60 {
	margin-left: 60px;
}

.ml70 {
	margin-left: 70px;
}

.ml80 {
	margin-left: 80px;
}

.ml90 {
	margin-left: 90px;
}

.ml92 {
	margin-left: 92px;
}

.ml25 {
	margin-left: 25px;
}

.ml30 {
	margin-left: 30px;
}

.mr3 {
	margin-right: 3px;
}

.ml50 {
	margin-left: 50px;
}

.ml80 {
	margin-left: 80px;
}

.ml100 {
	margin-left: 100px;
}

.ml120 {
	margin-left: 120px;
}

.ml130 {
	margin-left: 130px;
}

.ml140 {
	margin-left: 140px;
}

.ml150 {
	margin-left: 150px;
}

.ml160 {
	margin-left: 160px;
}

.ml180 {
	margin-left: 180px;
}

.ml-cus3 {
	margin-left: -3px;
}

.mr5 {
	margin-right: 5px;
}

.mr8 {
	margin-right: 8px;
}

.mr10 {
	margin-right: 10px;
}

.mr12 {
	margin-right: 12px;
}

.mr13 {
	margin-right: 13px;
}

.mr14 {
	margin-right: 14px;
}

.mr15 {
	margin-right: 15px;
}

.mr16 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}
.mr40 {
	margin-right: 40px;
}
.mr50 {
	margin-right: 50px;
}
.mr60 {
	margin-right: 60px;
}
.mr70 {
	margin-right: 70px;
}
.mr80 {
	margin-right: 80px;
}
.mr90 {
	margin-right: 90px;
}
.mr100 {
	margin-right: 100px;
}

.pt0 {
	padding-top: 0px;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt25 {
	padding-top: 25px;
}

.pt30 {
	padding-top: 30px;
}

.pt35 {
	padding-top: 30px;
}

.pt40 {
	padding-top: 40px;
}

.pt45 {
	padding-top: 45px;
}

.pt50 {
	padding-top: 50px;
}

.pt60 {
	padding-top: 60px;
}

.pt70 {
	padding-top: 70px;
}

.pt80 {
	padding-top: 80px;
}

.pt90 {
	padding-top: 90px;
}

.pt100 {
	padding-top: 100px;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb15 {
	padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb25 {
	padding-bottom: 25px;
}

.pb30 {
	padding-bottom: 30px;
}

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pl15 {
	padding-left: 15px;
}

.pl20 {
	padding-left: 20px;
}

.pl25 {
	padding-left: 25px;
}

.pl30 {
	padding-left: 30px;
}

.pr5 {
	padding-right: 5px;
}

.pr10 {
	padding-right: 10px;
}

.pr15 {
	padding-right: 15px;
}

.pr20 {
	padding-right: 20px;
}

.pr25 {
	padding-right: 25px;
}

.pr30 {
	padding-right: 30px;
}

.p10 {
	padding: 10px 20px;
}

.p20 {
	padding: 20px 30px;
}

.lh10 {
	line-height: 10px;
}

.lh12 {
	line-height: 12px;
}

.lh14 {
	line-height: 14px;
}

.lh16 {
	line-height: 16px;
}

.lh18 {
	line-height: 18px;
}

.lh20 {
	line-height: 20px;
}

.lh22 {
	line-height: 22px;
}

.lh24 {
	line-height: 24px;
}

.lh26 {
	line-height: 26px;
}

.lh28 {
	line-height: 28px;
}

.lh30 {
	line-height: 30px;
}

.lh35 {
	line-height: 35px;
}

.lh40 {
	line-height: 40px;
}

.lh45 {
	line-height: 45px;
}

.lh50 {
	line-height: 50px;
}

.lh60 {
	line-height: 60px;
}

.lh70 {
	line-height: 70px;
}

.lh80 {
	line-height: 80px;
}

.lh90 {
	line-height: 90px;
}

.lh100 {
	line-height: 100px;
}

.space10,
.h10 {
	height: 10px;
}

.space20,
.h50 {
	height: 20px;
}

.space30,
.h30 {
	height: 30px;
}

.space40,
.h40 {
	height: 40px;
}

.space50,
.h50 {
	height: 50px;
}

.space60,
.h60 {
	height: 60px;
}

.space70,
.h70 {
	height: 70px;
}

.space80,
.h80 {
	height: 80px;
}

.space90,
.h90 {
	height: 90px;
}

.space100,
.h100 {
	height: 100px;
}

.font12 {
	font-size: 12px;
}

.font14 {
	font-size: 14px;
}

.font15 {
	font-size: 15px;
}

.font16 {
	font-size: 16px;
}

.font18 {
	font-size: 18px;
}

.font20 {
	font-size: 20px;
}

.font22 {
	font-size: 22px;
}

.font24 {
	font-size: 24px;
}

.font26 {
	font-size: 26px;
}

.font28 {
	font-size: 28px;
}

.font30 {
	font-size: 30px;
}

.font36 {
	font-size: 36px;
}

.font38 {
	font-size: 38px;
}

.font44 {
	font-size: 44px;
}

.font62 {
	font-size: 62px;
}

.w5pct {
	width: 5%;
}

.w10pct {
	width: 10%;
}

.w15pct {
	width: 15%;
}

.w20pct {
	width: 20%;
}

.w25pct {
	width: 25%;
}

.w33pct,
.w30pct {
	width: 33.33333%;
}

.w45pct {
	width: 45%;
}

.w50pct {
	width: 50%;
}

.w100pct {
	width: 100%;
}

.w5 {
	width: 5px;
}

.w10 {
	width: 10px;
}

.w15 {
	width: 15px;
}

.w20 {
	width: 20px;
}

.w25 {
	width: 25px;
}

.w30 {
	width: 30px;
}

.w35 {
	width: 35px;
}

.w40 {
	width: 40px;
}

.w45 {
	width: 45px;
}

.w50 {
	width: 50px;
}

.w60 {
	width: 50px;
}

.w70 {
	width: 70px;
}

.w80 {
	width: 80px;
}

.w90 {
	width: 90px;
}

.w100 {
	width: 100px;
}

.w110 {
	width: 110px;
}

.w120 {
	width: 120px;
}

.w130 {
	width: 130px;
}

.w140 {
	width: 140px;
}

.w145 {
	width: 145px;
}

.w150 {
	width: 150px;
}

.w160 {
	width: 160px;
}

.w170 {
	width: 170px;
}

.w180 {
	width: 180px;
}

.w190 {
	width: 190px;
}

.w200 {
	width: 200px;
}

.w230 {
	width: 230px;
}

.w250 {
	width: 250px;
}

.w300 {
	width: 300px;
}

.w350 {
	width: 350px;
}

.w390 {
	width: 390px;
}

.w395 {
	width: 395px;
}

.w400 {
	width: 400px;
}

.w415 {
	width: 415px;
}

.w425 {
	width: 425px;
}

.w460 {
	width: 460px;
}

.w465 {
	width: 465px;
}

.w500 {
	width: 500px;
}

.w530 {
	width: 530px;
}

.w600 {
	width: 600px;
}

.h100 {
	height: 100%;
}

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}

.fwb {
	font-weight: bold;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.posRel {
	position: relative;
}

.posAbs {
	position: absolute;
}

.cf {
	color: #fff;
}

.cblue {
	color: #4494f1;
}

.bgcFFF {
	background-color: #fff;
}

.cup {
	cursor: pointer;
}

.disFlexB {
	display: flex;
	justify-content: space-between;
}

.disInlineBlock {
	display: inline-block;
}

.disBlock {
	display: block;
}

.disFlex {
	display: flex;
}

.disFlexA {
	display: flex;
	justify-content: space-around;
}

.cgreen {
	color: #63d5b5;
}

.cred {
	color: #ff6666;
}

.c9 {
	color: #999999;
}

.c6 {
	color: #666666;
}

.c0 {
	color: #000000;
}

.pr {
	position: relative;
}

.c3 {
	color: #333;
}

.cf90 {
	color: #ff9900;
}

.c04f {
	color: #c0c4cf;
}

.bgFFF {
	background-color: #fff;
}

.mainBody {
	padding: 20px;
	background-color: #fff;
	border-radius: 6px;
}

.headerTitle {
	border-radius: 6px;
	background-color: #fff;
	padding: 18px 30px;
}

.linkText {
	color: #66b1ff;
	cursor: pointer;
}

.cube-default .el-table td div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
