@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	// font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
	// 	Microsoft YaHei, Arial, sans-serif;
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
@font-face {
	font-family: "elephant";
	src: url("../icons/font/iconfont.woff2?t=1623751756270") format("woff2"),
		url("../icons/font/iconfont.woff?t=1623751756270") format("woff"),
		url("../icons/font/iconfont.ttf?t=1623751756270") format("truetype");
}
.elephant {
	font-family: "elephant" !important;
	font-size: 14px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

label {
	font-weight: 700;
}

html {
	height: 100%;
	box-sizing: border-box;
}

#app {
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

div:focus {
	outline: none;
}

.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

// main-container global css
.app-container {
	padding: 20px;
}
